@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-family: "Kanit", sans-serif;
}

h2 {
  font-family: "Press Start 2P", cursive;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: "Nunito", sans-serif;
}



.table-body tr:nth-child(odd) {
  background-color: #fdf180;
}

.table-body tr:nth-child(even) {
  background-color: #ffffff;
}

.flag {
  width: 30px;
  height: auto;
  vertical-align: middle;
}




@media screen and (max-width: 768px) {
  table {
    width: 100%;
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  th,
  td {
    padding: 8px;
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .flag {
    width: 20px; /* Adjust flag size for smaller screens */
  }

  .PeterExchange {
    font-size: 40px; /* Adjust heading size for smaller screens */
  }
}


